mule-deployfirst/src/main/mule/mule-deployfirst.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="40662cba-2852-4f44-b54b-ab4170db630c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-deployfirstFlow" doc:id="14a3ffab-2eef-49ed-8d80-71ce91877bbe" >
		<http:listener doc:name="Listener" doc:id="2bea9874-f4f0-4aaf-b10a-b84c92f7ab3b" config-ref="HTTP_Listener_config" path="/flight"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="73baa1e7-5348-4c54-b9b3-26d2ecab9b0d" />
	</flow>
</mule>
